<div>
  <h2>評価</h2>
  <%= form_tag("/conditions/create") do %>
    <p>日付：
    <input type="date" name="condition[evaluate_on]" value="<%=@evaluate_day%>">

    <p>評価：
    <%= select(:condition, :evaluation, [1, 2, 3, 4]) %>
    </p>
    <p>モチベーション：
    <%= select(:condition, :motivation, [1, 2, 3, 4]) %>
    </p>
    <input type="submit" value="送信">
  <% end %>
</div>