<%= javascript_pack_tag 'application' %>
<h1>Hello#index</h1>
<p>Find me in app/views/hello/index.html.erb</p>

<%= react_component("HelloWorld",  greeting:"Hello") %>

<h1>Ajax#index</h1>
<p id="hoge">赤色になるよ</p>

<script>
  $("#hoge").css("color","red")
</script>