// Place all the styles related to the hello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.jq_body{
  background-color: #f5f5f5;
}

.tab-menu{
  width: 500px;
  margin-left: 60px;

  ul {
    margin: 0;
    padding: 0;
    margin-top: 50px;
  }

  li {
    display: inline-block;
    width: 120px;
    height: 22px;
    padding: 10px 10px 5px;
    cursor: pointer;
    background-color: #AECD6A;
    border-top-right-radius: 10px;
    font-size: 14px;
    color: #fff;
    text-align: center;

    &.selected {
      background-color: #fff;
      color: #AECD6A;
    }
  }
}

.contents {
  background-color: #fff;
  height: 360px;
  padding: 20px;

  .right{
    display: none;
  }
}
